{% extends '_base.html' %}

{% block title %}About page{% endblock %}

{% block content %}
<h1>About Jared
</h1>
<h3>Jared was a boy, who liked to play games. He liked them so much, he devoted his life to trying to master them.</h3>
<p>In the ancient realm of Astra, a world brimming with magic and mystery, legends of heroic deeds and daring adventures echo through the ages. The once harmonious land has been plunged into turmoil as dark forces rise from the shadows, threatening to engulf the entire realm in eternal darkness.

  You are the chosen one, a hero destined to wield unimaginable power. Embark on an epic quest to gather the lost relics of the ancient gods and restore balance to Astra. Assemble a fellowship of brave companions, each possessing unique abilities and backgrounds, and together, face perilous challenges that test your resolve and strategy.
  
  Venture through enchanted forests, treacherous dungeons, and sprawling cities teeming with life and secrets. Along the way, encounter a myriad of formidable foes – from sinister creatures to powerful sorcerers – each seeking to thwart your righteous path.</p>
{% endblock content %}